*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    /* border: 1px solid red; */
   margin: 5px;
   
   /* display: inline-block; */
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
 
}

.header a{
    text-decoration: none;
    color: antiquewhite;
}

.mainHeader{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color:#72A0C1;
}

.btn{
    /* border: 1px solid green; */
    width: 30%;
    margin-top: 20px;
    padding-left: 10%;

}

.loginBtn{
    width: 30%;
    height: 80%;
    background-color: #00308F;
    color: white;
    border-radius: 10%;
    border: none;
    margin-right: 20px;
}

.signupBtn{
    width: 30%;
    height: 80%;
    background-color: 	#FF4500;
    color: white;
    border-radius: 10%;
    border: none;
    margin-right: 20px;
}

.centerSec{
    /* border: 1px solid saddlebrown; */
    height: 450px;
    display: flex;
}

.leftText{
    /* display: flex; */
    /* border: 1px solid forestgreen; */
    width: 50%;
    /* margin: 20px/; */
}

.contentOfText{
    /* border: 1px solid violet; */
    margin-left: 30%;
    margin-top: 25%;
}

.rightImg img{
    width: 400px;
    height: 400px;
    margin: 25px;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 10px 10px lightblue;
}

.foot{
    /* border: 1px solid hotpink; */
    height: 70px;
    text-align: center;

}

.foot p{
    /* border: 1px solid khaki; */
    padding: 25px;
    color: aliceblue;
    background-color: black;
    font-weight: 1000;
}

.mainCardSection{
    /* border: 1px solid darkgoldenrod; */
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardBorder{
    /* border: 1px solid green; */
    width: 250px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* box-shadow: 10px 10px lightblue; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.cardBorder img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.addBtn{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
}

.addToCart{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #00308F;
    color: antiquewhite;
    border: navy;
}

.aboutUs{
    height: 500px;
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 25px;
    margin-top: 45px;
}

.aboutUs img{
    
    width: 500px;
    height: 500px;
}

.tripleBoxes{
    border: 1px solid red;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div01{
    border: 1px solid black;
    width: 300px;
    height: 300px;

}
.div02{
    border: 3px solid gold;
    width: 300px;
    height: 300px;
    flex-grow: 2;
}
.div03{
    border: 3px solid firebrick;
    width: 300px;
    height: 300px;
    flex-grow: 5;
    order: -1;


}