*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;

}

.heading_container{
    margin: 1rem;
    text-align: center;
}

.blog_summary{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Grid_container{
    /* border: 1px solid blue; */
    margin: 2rem 4rem;
    /* width: 100%; */

}

.card_container{
    width: 250px;
    height: 350px;
    /* border: 2px solid green; */
    border: 1px solid rgb(148, 143, 143);
    border-radius: 5px;
}

/* .image_container{
    width: 200px;
    height: 300px;
    border: 2px solid red;
} */

.image_container img{
    width:250px;
    height: 170px;
    /* object-fit: cover; */
    border-radius: 5px;
}

.card_title{
    margin: 1rem;
}

.card_desc{
    max-width: 300px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid red; */
    
}

.card_footer{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
    align-items: center;
}

.aurthor_img{
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 25px;
}

.admin_img{
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 25px;

}